{{#contentFor 'seoComponents'}}
  <meta
    name='description'
    content='PELUANG BISNIS ONLINE TERBARU PALING MUDAH DAN PALING MENGUNTUNGKAN RAHASIA MENDAPATKAN PASIF INCOME PULUHAN JUTA PERBULAN DARI MARKETPLACE TANPA RIBET, MODAL COPY PASTE'
  />
  <meta
    name='keywords'
    content='fingo,sukses,e-commerce,copy,paste,mudah,jutaan,income,bisnis,online'
  />
{{/contentFor}}

{{#contentFor 'pageStyle'}}
  <style>
    #navbar {
    transition-timing-function: 'ease-in-out';
    transition-duration: 500ms;
  }
  </style>
{{/contentFor}}

{{#contentFor 'pageScript'}}
  <script>
    var navbar = $('#navbar')
    var judul = $('#judul').height()

    addEventListener('scroll', function () {
      var scrollY = $(window).scrollTop()

      if (scrollY > judul) navbar.removeClass('navbar-dark bg-danger').addClass('navbar-light bg-light shadow shadow-sm')
      else navbar.removeClass('navbar-light bg-light shadow shadow-sm').addClass('navbar-dark bg-danger')
    })
  </script>
{{/contentFor}}

<section id='judul' class='bg-danger'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-12 col-md-6'>
        <img src='/storage/img/Businessman.svg' alt='Businessman' />
      </div>
      <div class='col-12 col-md-6 d-flex'>
        <div class='align-self-center text-light'>
          <h1>
            Peluang Bisnis Online Terbaru Paling
            <span class='text-warning'>
              Mudah
            </span>
            dan Paling
            <span class='text-warning'>
              Menguntungkan
            </span>
          </h1>
          <h1>
            Rahasia Mendapatkan
            <em>
              Passive Income
            </em>

            <span class='text-warning'>
              Puluhan Juta
            </span>
            perbulan
            <strong>
              Tanpa Ribet
            </strong>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='surveyMenunjukkan'>
  <div class='container py-5'>
    <div class='row'>
      <div class='col'>
        <h1 class='text-center'>
          Survey Menunjukkan
        </h1>
      </div>
    </div>
    <div class='row justify-content-center mt-5'>
      <div class='col-12 col-md-6'>
        <h3 class='mb-3'>
          Indonesia Jadi Negara dengan Pertumbuhan E-Commerce Tercepat di Dunia
        </h3>
        <p class='lead text-justify'>
          Indonesia adalah Negara Dengan Pertumbuhan e-Commerce Tercepat di Dunia artinya
          saat ini kita berada di negara yg menjadi pusat perhatian Dunia E-Commerce.
        </p>
        <p class='lead text-justify'>
          Lembaga riset asal Inggris, Merchant Machine, merilis daftar sepuluh negara
          dengan pertumbuhan e-commerce tercepat di dunia. Indonesia memimpin jajaran negara-negara tersebut dengan
          pertumbuhan 78% pada 2018. Jumlah pengguna internet di Indonesia yang lebih dari 100 juta pengguna menjadi
          salah satu kekuatan yang mendorong pertumbuhan e-commerce.
        </p>
        <p class='lead text-justify'>
          Survey menunjukkan bahwa
          <span class='text-danger'>
            Rata-Rata Orang (khususnya di Indonesia)
          </span>
          sudah mulai beralih dari
          <span class='text-danger'>
            Transaksi Offline
          </span>
          ke
          <span class='text-danger'>
            Transaksi Online (Internet)
          </span>
          , baik belanja kebutuhan sekunder maupun primer. ini menunjukkan bahwa Bisnis Online sangat menjanjikan dan sangat menguntungkan.
        </p>
        <p class='lead text-justify'>
          Sumber:
          <span>
            <a href='https://databoks.katadata.co.id'>
              Katadata
            </a>
          </span>
        </p>
      </div>
      <div class='col-12 col-md-6'>
        <div class='accordion w-100' id='accordionExample'>
          <div class='card'>
            <div class='card-header' id='headingIndonesiaTercepat'>
              <h2 class='mb-0'>
                <button
                  class='btn btn-link btn-block text-left text-dark'
                  type='button'
                  data-toggle='collapse'
                  data-target='#indonesiaTercepat'
                  aria-expanded='true'
                  aria-controls='indonesiaTercepat'
                >
                  Indonesia menjadi negara dengan pertumbuhan e-Commerce tercepat
                </button>
              </h2>
            </div>

            <div
              id='indonesiaTercepat'
              class='collapse show'
              aria-labelledby='headingIndonesiaTercepat'
              data-parent='#accordionExample'
            >
              <div class='card-body'>
                <img
                  class='img-fluid'
                  src='/storage/img/indonesiaTercepat.png'
                  alt='Indonesia pertumbuhan tercepat'
                />
              </div>
            </div>
          </div>
          <div class='card'>
            <div class='card-header' id='headingPenjualan'>
              <h2 class='mb-0'>
                <button
                  class='btn btn-link btn-block text-left text-dark collapsed'
                  type='button'
                  data-toggle='collapse'
                  data-target='#penjualan'
                  aria-expanded='false'
                  aria-controls='penjualan'
                >
                  2020 Penjualan Indonesia mencapai 16 Milyar US$
                </button>
              </h2>
            </div>
            <div
              id='penjualan'
              class='collapse'
              aria-labelledby='headingPenjualan'
              data-parent='#accordionExample'
            >
              <div class='card-body'>
                <img
                  class='img-fluid'
                  src='/storage/img/2020Penjualan.png'
                  alt='10 e-Commerce dengan pengunjung terbanyak'
                />
              </div>
            </div>
          </div>
          <div class='card'>
            <div class='card-header' id='headingECommerce'>
              <h2 class='mb-0'>
                <button
                  class='btn btn-link btn-block text-left text-dark collapsed'
                  type='button'
                  data-toggle='collapse'
                  data-target='#eCommerce'
                  aria-expanded='false'
                  aria-controls='eCommerce'
                >
                  10 e-Commerce dengan pengunjung terbanyak
                </button>
              </h2>
            </div>
            <div
              id='eCommerce'
              class='collapse'
              aria-labelledby='headingECommerce'
              data-parent='#accordionExample'
            >
              <div class='card-body'>
                <img
                  class='img-fluid'
                  src='/storage/img/10eCommerce.png'
                  alt='10 e-Commerce dengan pengunjung terbanyak'
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='mempersembahkan' class='bg-danger'>
  <div class='container text-light py-5'>
    <div class='row'>
      <div class='col text-center'>
        <h1>
          Waktunya Anda memiliki Bisnis Online di Marketplace dengan keuntungan
          <span class='text-warning'>
            Berlipat
          </span>
          dan pastinya
          <span class='text-warning'>
            Tanpa Ribet
          </span>
        </h1>
      </div>
    </div>
  </div>
</section>

<section id='fingoPicture'>
  <div class='container py-5'>
    <div class='row'>
      <div class='col text-center text-danger'>
        <h3
          class='font-weight-bolder text-uppercase'
          style="font-family: 'sans-serif';"
        >
          Dengan Bangga Mempersembahkan
        </h3>
      </div>
    </div>
    <div class='row justify-content-center mt-4'>
      <div class='col-12 col-md-6 d-flex justify-content-center'>
        <img class='img-fluid' src='/storage/img/FINGO.png' />
      </div>
    </div>
  </div>
</section>

<section id='apaItuFingo' class='bg-danger'>
  <div class='container py-5 text-light'>
    <div class='row'>
      <div class='col'>
        <h1 class='text-center'>
          Apa itu
          <span class='text-warning'>
            FINGO
          </span>
          ?
        </h1>
      </div>
    </div>
    <div class='row mt-4'>
      <div class='col d-none d-md-flex'>
        <img class='img-fluid' src='/storage/img/Questions-bro.svg' />
      </div>
      <div class='col-12 col-md-6 d-md-flex text-justify d-flex'>
        <div class='align-self-center'>
          <p class='lead'>
            Fingo adalah sebuah platform e-commerce sama halnya seperti Tokopedia, Bukalapak, Lazada dan Shopee,dll. Tapi Fingo menggunakan konsep baru dalam memasarkan bisnisnya yaitu dengan konsep bagi hasil bagi para afiliasinya
          </p>
          <div class='embed-responsive embed-responsive-16by9'>
            <iframe
              class='embed-responsive-item'
              src='https://www.youtube.com/embed/qS7nxfHdZi0?rel=0'
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='fingoDikenalSebagai'>
  <div class='container py-5'>
    <div class='row'>
      <div class='col text-justify'>
        <p class='lead'>
          Fingo dikenal sebagai platform Sosial E-commerce, dimana saat ini, terdapat puluhan ribu produk yang dipasarkan di Fingo. Kita semua sebagai pengguna, bisa jadi sebagian dari "pemilik" e-commerce ini. "Pemilik" yang dimaksud adalah kita dapat mempromosikan marketplace Fingo kepada orang-orang dan biarkan orang belanja apapun di fingo, selanjutnya kita mendapatkan
          <span class='text-danger'>
            komisi, bonus pasif income, dan macam-macam pendapatan dari Fingo
          </span>
          seolah-olah kita bekerja dengan Fingo dan memiliki bisnis fingo tersebut.
        </p>
        <p class='lead'>
          Bayangkan jika anda membuka sebuah supermarket. Tahap awal anda harus bersusah payah iklankan sana sini untuk menarik orang agar membeli produk di supermarket anda. Sampai saatnya anda tidak perlu lagi mengiklankan karena orang akan datang dengan sendirinya, mereka sudah kenal dan senang berbelanja di supermarket anda
Begitulah berbisnis fingo. Anda mendaftar hari ini dan upgrade menjadi agen fingo (Prefered Shopper), kemudian anda menyebarkan sebanyak mungkin link anda kepada orang-orang serta meminta mereka mendaftar dengan link anda secara gratis dan meminta mereka berbelanja di fingo. Tentu awalnya pasti sedikit, tapi berjalannya waktu akan banyak yang mengenal dan berbelanja di fingo dengan link anda. Dan pada saat itulah anda akan mendapatkan banyak komisi dari fingo, selama orang-orang berbelanja di marketplace fingo dengan link yang anda bagikan.
        </p>
        <p class='lead'>
          Perlu Diketahui Bahwa Fingo Marketplace Memberikan Pelayanan Terbaik dan Harga Termurah (Dibandingkan Dengan Marketplace Lain). Tentunya Orang-Orang Akan Mendaftar di Marketplace Fingo, Dan Itu Gratis Bahkan Dapat Voucher Belanja Senilai RM5 (Rp. 17.500,-)
        </p>
      </div>
    </div>
  </div>
</section>

<section id='keunggulanFingo'>
  <div class='jumbotron jumbotron-fluid'>
    <div class='container py-5'>
      <div class='row'>
        <div class='col-0 col-md-6'>
          <img class='img-fluid' src='/storage/img/Success.svg' />
        </div>
        <div class='col-0 col-md-6 d-flex'>
          <div class='align-self-center'>
            <h1>
              Hanya di
              <span class='text-danger'>
                FINGO
              </span>
              Anda akan merasakan
            :
            </h1>
            <ul>
              <li>
                <p class='lead'>
                  Tidak butuh modal banyak, karena tidak perlu stok produk
                </p>
              </li>
              <li>
                <p class='lead'>
                  Supplier terpercaya, karena sudah melalui filter manajemen fingo
                </p>
              </li>
              <li>
                <p class='lead'>
                  Kualitas produk terjamin karena sudah melewati quality control product
                </p>
              </li>
              <li>
                <p class='lead'>
                  Harga produk lebih murah dari pasaran (harga grosir), karena produk langsung dari pabrik
                </p>
              </li>
              <li>
                <p class='lead'>
                  Garansi resmi langsung dari pabrik
                </p>
              </li>
              <li>
                <p class='lead'>
                  Pengiriman dari supplier cepat, karena sudah memiliki sistem yang terstruktur
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
