{{#contentFor 'seoComponents'}}
<meta name='description'
    content='PELUANG BISNIS ONLINE TERBARU PALING MUDAH DAN PALING MENGUNTUNGKAN RAHASIA MENDAPATKAN PASIF INCOME PULUHAN JUTA PERBULAN DARI MARKETPLACE TANPA RIBET, MODAL COPY PASTE' />
<meta name='keywords'
    content='fingo,sukses,e-commerce,copy,paste,mudah,jutaan,income,bisnis,online,bukan mlm,2 juta seminggu,terjamin,marketing plan,plan' />
{{/contentFor}}

{{#contentFor 'pageStyle'}}
{{/contentFor}}

{{#contentFor 'pageScript'}}
<script>
    var navbar = $('#navbar')
    var judul = $('#judul').height()

    $(window).scroll(function () {
        var scrollY = $(window).scrollTop()

        if (scrollY > judul) navbar.removeClass('navbar-dark bg-danger').addClass('navbar-light bg-light shadow shadow-sm')
        else navbar.removeClass('navbar-light bg-light shadow shadow-sm').addClass('navbar-dark bg-danger')
    })

    $(window).on('load', function () {
        // navbar
        var scrollY = $(window).scrollTop()

        if (scrollY > judul) navbar.removeClass('navbar-dark bg-danger').addClass('navbar-light bg-light shadow shadow-sm')
        else navbar.removeClass('navbar-light bg-light shadow shadow-sm').addClass('navbar-dark bg-danger')
    })
</script>
{{/contentFor}}

<section id="judul" class="bg-danger text-white">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 d-block d-md-none">
                <img src="/storage/img/Startled-pana.svg" alt="What???">
            </div>
            <div class="col-12 col-md-6 d-flex">
                <div class="align-self-center">
                    <h1>
                        <span class="text-warning">FINGO BUKAN MLM!!!</span>
                        FINGO adalah <span class="text-warning">Bisnis eCommerce Berbasis Afiliasi</span>
                    </h1>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img src="/storage/img/Startled-pana.svg" alt="What???">
            </div>
        </div>
    </div>
</section>

<section id="marketingPlan">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">
                    Marketing Plan FINGO Indonesia
                </h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <p class="lead text-center">
                    Perlu diperhatikan kembali bahwa <span class="text-danger">Fingo Bukanlah Bisnis MLM</span>
                    melainkan sebuah <span class="text-danger">Platform Social eCommerce Berbasis Afiliasi</span> dimana
                    fingo sama halnya seperti ecommerce (toko online) pada umumnya. Bisa diambil contoh seperti
                    Bukalapak, Tokopedia, Shopee dan lainnya. Tetapi Fingo disini mengedepankan penjualan produk dengan
                    sistem affiliasi.
                </p>
                <p class="lead text-center">
                    Dari sekian banyak jenis bisnis Internet , yang paling populer dan diminati saat ini adalah
                    affiliate marketing. Pada prinsipnya kerja affiliate ini adalah penjualan berbasis komisi,
                    sederhananya adalah ketika Anda berhasil menjual produk atau barang atau jasa, maka secara otomatis
                    Anda mendapatkan uang atau komisi dari penjualan produk tersebut.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="apaItuAM">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-none d-md-block">
                <img src="/storage/img/cara-kerja-affiliate-marketing-bisnis-fingo-indonesia.png"
                    alt="Affiliate Marketing" style="width: 100%; height: 100%;">
            </div>
            <div class="col-12 col-md-6 d-md-flex">
                <div class="align-self-center">
                    <h1>Apa itu Affiliate Marketing?</h1>
                    <p class="lead text-justify">
                        <span class="text-danger">Affiliate Marketing</span> merupakan proses memperoleh komisi dengan
                        mempromosikan
                        produk orang lain( ataupun industri). Anda memilih produk yang sesuai dengan kriteria Anda,
                        kemudian mempromosikannya kepada orang lain, dan selanjutnya Anda akan mendapatkan untung
                        besar dari setiap penjualan yang Anda lakukan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="langkahDaftar">
    <div class="container py-5">
        <div class="row">
            <div class="col lead">
                <p>Berikut langkah yang ditempuh untuk melakukan afiliasi:</p>
                <ol>
                    <li>
                        <span class="text-danger">Daftar Program Afiliasi</span>
                        <p>Anda mendaftar Program Afiliasi dari perusahaan tertentu.</p>
                    </li>
                    <li>
                        <span class="text-danger">Promosi Produk</span>
                        <p>Anda mempromosikan produk dari perusahaan tersebut di blog dan media sosial yang Anda miliki.
                            Jangan lupa untuk menyisipkan kode referral Anda di konten Anda.</p>
                    </li>
                    <li>
                        <span class="text-danger">Orang-Orang menggunakan Kode Referral Anda</span>
                        <p>Ada orang yang membeli produk menggunakan kode referral yang Anda letakkan di media promosi
                            Anda. Biasanya orang yang menggunakan kode referral akan mendapatkan diskon tambahan</p>
                    </li>
                    <li>
                        <span class="text-danger">Dapatkan Komisi</span>
                        <p>Setelah itu, Anda akan mendapatkan komisi jika ada orang yang membeli melalui link yang Anda
                            letakkan di blog dan media sosial Anda.</p>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col lead">
                <p class="lead">Cukup mudah bukan?</p>
                <p class="lead">
                    Cara kerja affiliate marketing yang saya jelaskan di atas adalah yang paling umum dan perlu diingat
                    bahwa alur kerja di setiap perusahaan penyedia affiliate marketing bisa berbeda-beda. Pastikan untuk
                    selalu membaca syarat dan ketentuan sebelum mendaftar program afiliasi.
                </p>
                <p class="lead">
                    Source : <a href="https://www.niagahoster.co.id/blog/affiliate-marketing/" target="_blank"
                        rel="noopener">Niagahoster</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="keuntungan">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class='row'>
                <div class='col-12 col-md-6 d-flex'>
                    <div class='align-self-center'>
                        <h1>
                            Hanya di
                            <span class='text-danger'>
                                FINGO
                            </span>
                            Anda akan merasakan
                            :
                        </h1>
                        <ul>
                            <li>
                                <p class='lead'>
                                    Tidak butuh modal banyak, karena tidak perlu stok produk
                                </p>
                            </li>
                            <li>
                                <p class='lead'>
                                    Supplier terpercaya, karena sudah melalui filter manajemen fingo
                                </p>
                            </li>
                            <li>
                                <p class='lead'>
                                    Kualitas produk terjamin karena sudah melewati quality control product
                                </p>
                            </li>
                            <li>
                                <p class='lead'>
                                    Harga produk lebih murah dari pasaran (harga grosir), karena produk langsung dari
                                    pabrik
                                </p>
                            </li>
                            <li>
                                <p class='lead'>
                                    Garansi resmi langsung dari pabrik
                                </p>
                            </li>
                            <li>
                                <p class='lead'>
                                    Pengiriman dari supplier cepat, karena sudah memiliki sistem yang terstruktur
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='col-md-6 d-none d-md-block'>
                    <img class='img-fluid' src='/storage/img/Success.svg' />
                </div>
            </div>
        </div>
    </div>
</section>

<section id="statusSeller">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Status Mitra FINGO</h1>
            </div>
        </div>
        <div class="row justify-content-center d-none d-md-flex mt-3">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="text-center mb-0">
                            First Tier
                        </h5>
                    </li>
                    <li class="list-group-item bg-primary text-white">
                        <h3 class="text-center my-4">
                            Regular Shopper
                        </h3>
                    </li>
                    <li class="list-group-item border-bottom-0 pb-1">
                        <p class="mb-0">Daftar Gratis</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Dapat voucher belanja RM 5</p>
                    </li>
                    <li class="list-group-item pt-1">
                        <p class="mb-0">Dapat harga murah, bisa dijual kembali dengan keuntungan lebih besar</p>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="text-center mb-0">
                            Second Tier
                        </h5>
                    </li>
                    <li class="list-group-item bg-primary text-white">
                        <h3 class="text-center my-4">
                            Preferred Shopper
                        </h3>
                    </li>
                    <li class="list-group-item border-bottom-0 pb-1">
                        <p class="mb-0">Upgrade dengan pembelanjaan senilai RM 199 / RM 299</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat voucher belanja RM 199 / RM 299</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat produk senilai RM 199 / RM 299</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat link afiliasi</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat cashback 1-10% setiap belanja pribadi</p>
                    </li>
                    <li class="list-group-item pt-1">
                        <p class="mb-0"
                            title="Semisal Anda merekomendasikan keluarga atau teman Anda untuk bergabung di FINGO (walaupun hanya regular shopper), maka Anda berhak mendapat komisi dari jumlah belanja mereka">
                            Mendapat komisi belanja group mulai 1-10%</p>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="text-center mb-0">
                            Third Tier
                        </h5>
                    </li>
                    <li class="list-group-item bg-danger text-white">
                        <h3 class="text-center my-4">
                            Affiliate Marketer
                        </h3>
                    </li>
                    <li class="list-group-item border-bottom-0 pb-1">
                        <p class="mb-0">Harus memiliki 30 PS</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat cashback 1-14% setiap belanja pribadi</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat komisi 14% dari belanja Shopper rekomendasi Anda</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat komisi 4% dari belanja Grup</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat komisi RM 100 jika ada yang bergabung menjadi PS dari rekomendasi Anda
                        </p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat RM 50 jika PS anda merekomendasikan PS baru</p>
                    </li>
                    <li class="list-group-item pt-1">
                        <p class="mb-0">Mendapat komisi 20% dari pendapatan AM rekomendasi langsung</p>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="text-center mb-0">
                            Fourth Tier
                        </h5>
                    </li>
                    <li class="list-group-item bg-danger text-white">
                        <h3 class="text-center my-4">
                            Affiliate Trainer
                        </h3>
                    </li>
                    <li class="list-group-item border-bottom-0 pb-1">
                        <p class="mb-0">Memiliki 3 AM dan 500 Team Random</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat cashback 1-15,6% setiap belanja pribadi</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat komisi 15,6% dari belanja Shopper rekomendasi Anda</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat komisi 1,6% dari belanja Grup</p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat komisi RM 135 jika ada yang bergabung menjadi PS dari rekomendasi Anda
                        </p>
                    </li>
                    <li class="list-group-item border-bottom-0 py-1">
                        <p class="mb-0">Mendapat RM 35 jika PS di Grup Anda merekomendasikan PS baru</p>
                    </li>
                    <li class="list-group-item pt-1">
                        <p class="mb-0">Mendapat komisi 20% dari pendapatan AT rekomendasi langsung</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="daftar">
    <div class="jumbotron jumbotron-fluid m-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-uppercase text-center font-weight-bolder">
                        Keputusan ada ditangan Anda, ambil langkah cepat dan raih sukses bersama FINGO marketplace
                    </h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    <a href="https://t.publicecommerce.com/16lJg5" target="_blank"
                        class="btn btn-danger btn-lg">Daftar
                        Sekarang</a>
                </div>
            </div>
        </div>
    </div>
</section>