{{#contentFor 'seoComponents'}}
<meta name='description'
content='PELUANG BISNIS ONLINE TERBARU PALING MUDAH DAN PALING MENGUNTUNGKAN RAHASIA MENDAPATKAN PASIF INCOME PULUHAN JUTA PERBULAN DARI MARKETPLACE TANPA RIBET, MODAL COPY PASTE' />
<meta name='keywords' content='fingo,sukses,e-commerce,copy,paste,mudah,jutaan,income,bisnis,online,bukan mlm,2 juta seminggu,terjamin' />
{{/contentFor}}

{{#contentFor 'pageStyle'}}
{{/contentFor}}

{{#contentFor 'pageScript'}}
{{/contentFor}}

<section id='sudahdaftarfingo' class='bg-danger'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-12 col-md-6'>
        <img src='/storage/img/sudahkah.png' alt='SudahDaftarFINGO?' width="500px" height="500px">
      </div>
      <div class="col-12 col-md-6 d-flex">
        <div class="align-self-center text-light">
          <h1>Apakah Anda Sudah <span class="text-warning">Mendaftar </span>Bisnis FINGO? Masih <span class="text-warning"><em>Kesulitan</em></span> Mendapatkan Mitra?</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Mempersembahkan">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="text-center">Mempersembahkan</h2>
      </div>
      <div class="col-12 col-md-6">
        <h1 class="text-center"><b><font color="red">MITRA FINGO AUTOPILOT SYSTEM</font></b></h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <h5 class="text-center">MITRA FINGO AUTOPILOT SYSTEM adalah Gabungan antara Website + E-Mail Marketing Automation + Whatsapp Notification dilengkapi dengan Modul Traning. Siap kebanjiran prospek lewat online</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Fitur" class="bg-danger">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h1 class="text-white">Fitur Mitra FINGO Autopilot System</h1>
      </div>
      <div class="col-12 col-md-6 d-none d-md-block">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <button class="btn" type="button" data-toggle="collapse" data-target="#website" aria-expanded="true" aria-controls="website">
              <img src="/storage/img/Globe.png" width="30px" height="30px">
              <h5 class="text-center"><b>Website Replika Subdomain</b></h5>
            </button>
            <div class="collapse show" id="website" data-parent="#accordionExample">
              <div class="card-body">
                <p>Anda mendapatkan website replika dengan subdomain anda sendiri, bisa dengan nama Anda atau bisa disesuaikan dengan nama anda sendiri <strong>jadi akan terlihat lebih profesional.</strong> Misal : <strong>rudihasan.mitrafingo.com</strong> menjadi mudah diingat oleh calon prospek Anda.</p>
                <p>Bayangkan jika website replika Anda merupakan link basic, <strong>misal: mitrafingo.com?reg=rudihasan</strong> tidak terlihat profesional dan juga kalau calon prospek mengunjungi website utama pasti akan lupa dengan embel embel dibelakangnya pasti hanya mengetik <strong>mitrafingo.com</strong></p>
              </div>
            </div>
          </div>

          <div class="card">
            <button class="btn" type="button" data-toggle="collapse" data-target="#profil" aria-expanded="false" aria-controls="profil">
              <img src="/storage/img/Profile.png" width="30px" height="30px">
              <h5 class="text-center"><b>Profil dan Kontak Otomatis</b></h5>
            </button>
            <div class="collapse" id="profil" data-parent="#accordionExample">
              <div class="card-body">
                <p class="text-justify">Setiap website replika sudah otomatis menampilkan data profil dan kontak anda, jadi setiap prospek yang mengunjungi website replika Anda langsung memunculkan data profil Anda. Sehingga calon prospek dapat menghubungi Anda.</p>
                <p class="text-justify">Sistem sudah mengatur sedemikian rupa, agar semua mitra dapat promosi dengan mudah tanpa harus memberikan kontak kepada calon prospek berulang kali, biar sistem yang bekerja.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <button class="btn" type="button" data-toggle="collapse" data-target="#visitor" aria-expanded="false" aria-controls="visitor">
              <img src="/storage/img/Visitor.png" width="30px" height="30px">
              <h5 class="text-center"><b>Lock Visitor</b></h5>
            </button>
            <div class="collapse" id="visitor" data-parent="#accordionExample">
              <div class="card-body">
                <p class="text-justify">Orang yang mengunjungi link replika Anda akan terkunci oleh sistem dan akan menjadi mitra Anda jika sudah melakukan aktivasi.</p>
                <p class="text-justify">Jadi anda tidak perlu khawatir kehilangan calon mitra, karena semua sudah diatur oleh Sistem MITRA FINGO.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <button class="btn" type="button" data-toggle="collapse" data-target="#CollapsePengunjung-2" aria-expanded="false" aria-controls="CollapsePengunjung-2">
              <img src="/storage/img/sponsor.png" width="30px" height="30px">
              <h5 class="text-center"><b>Random Sponsor</b></h5>
            </button>
            <div class="collapse" id="CollapsePengunjung-2" data-parent="#accordionExample">
              <div class="card-body">
                <p class="text-justify">Ketika ada orang yang mengunjungi website utama (bukan website replika anda) maka sistem akan menampilkan sponsor acak</p>
                <p class="text-justify">Dengan begitu, Anda memiliki kesempatan untuk mendapatkan mitra walau sedang tidak mempromosikan website replika anda</p>
              </div>
            </div>
          </div>

          <div class="card">
            <button class="btn" type="button" data-toggle="collapse" data-target="#notif" aria-expanded="false" aria-controls="notif">
              <img src="/storage/img/notifikasi.png" width="30px" height="30px">
              <h5 class="text-center"><b>Notifikasi E-mail dan Whatsapp</b></h5>
            </button>
            <div class="collapse" id="notif" data-parent="#accordionExample">
              <div class="card-body">
                <p class="text-justify">Misal ada mitra baru yang melakukan pendaftaran melalui website replika anda, maka nanti mitra baru tersebut akan mendapat 2 notifikasi yang pertama E-Mail yang kedua Whatsapp</p>
                <p class="text-justify">Begitu juga dengan anda sebagai sponsor akan menerima Notifikasi bahwa ada mitra baru yang daftar yaitu ke E-Mail dan Whatsapp</p>
              </div>
            </div>
          </div>

          <div class="card">
            <button class="btn" type="button" data-toggle="collapse" data-target="#responder" aria-expanded="false" aria-controls="responder">
              <img src="/storage/img/email.png" width="30px" height="30px">
              <h5 class="text-center"><b>Autoresponder</b></h5>
            </button>
            <div class="collapse" id="responder" data-parent="#accordionExample">
              <div class="card-body">
                <p class="text-justify">Calon mitra akan menerima serangkaian E-Mail yang berisi informasi bisni fingo selama 7 hari.</p>
                <p class="text-justify">Calon Mitra akan mendapatkan serangkaian email yang berisi panduan menjalankan bisnis FINGO berupa mindset dan strategi bisnis</p>
              </div>
            </div>
          </div>

          <div class="card">
            <button class="btn" type="button" data-toggle="collapse" data-target="#training" aria-expanded="false" aria-controls="training">
              <img src="/storage/img/digital.png" width="30px" height="30px">
              <h5 class="text-center"><b>Digital Training</b></h5>
            </button>
            <div class="collapse" id="training" data-parent="#accordionExample">
              <div class="card-body">
                <p class="text-justify">Di member area sudah tersedia beberapa training bagaimana menjalankan bisnis FINGO</p>
                <p class="text-justify">Jadi, anda bisa mengikuti training tersebut, sehingga anda memiliki arah bagaimana menjalankan bisnis FINGO.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <button class="btn" type="button" data-toggle="collapse" data-target="#sharing" aria-expanded="false" aria-controls="sharing">
              <img src="/storage/img/group.png" width="30px" height="30px">
              <h5 class="text-center"><b>Grup Sharing</b></h5>
            </button>
            <div class="collapse" id="sharing" data-parent="#accordionExample">
              <div class="card-body">
                <p class="text-justify">Tersedia juga Grup sharing khusus untuk mitra yang sudah upgrade</p>
                <p class="text-justify">Anda juga bisa berkomunikasi dengan mitra lainnya sharing bagaimana tips dan trik menjalankan bisnis FINGO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section id="Bonus">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h3 class="text-center">BONUS SPESIAL HANYA UNTUK ANDA</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-title">
            <h5 class="text-center">BISNIS TOKO ONLINE</h5>
          </div>
          <div class="card-body">
            <img class="img-fluid" src="https://mitrafingo.com/wp-content/uploads/2020/04/mitra-fingo-bonus-5.png">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-title">
            <h5 class="text-center">MASTER GOOGLE ADS</h5>
          </div>
          <div class="card-body">
            <img class="img-fluid" src="https://mitrafingo.com/wp-content/uploads/2020/04/mitra-fingo-bonus-8.png">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-title align-self-center">
            <h5 class="text-center">MASTER FACEBOOK ADS</h5>
          </div>
          <div class="card-body">
            <img class="img-fluid" src="https://mitrafingo.com/wp-content/uploads/2020/04/mitra-fingo-bonus-9.png">
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h3 class="text-center">JIKA ANDA MEMUTUSKAN UNTUK UPGRADE  MENJADI PREFFERED SHOP SEKARANG, MAKA AKAN KAMI BERIKAN PENAWARAN SPESIAL</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h2 class="text-center"><b>MITRA FINGO AUTOPILOT SYSTEM + BONUS DIATAS AKAN KAMI BERIKAN SECARA <font color="red">GRATIS!!!</font></b></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <h2 class="text-center">
          <button type="button" class="btn btn-danger btn-lg">Daftar Sekarang</button>
        </h2>
      </div>
    </div>
  </div>
</section>
